<% include ../partials/boilerplate.ejs %>
<form method="POST" action="/jeopardize/questions-edit/<%= data.id %>?_method=PUT"> 
  <input name="id" type="hidden" placeholder="value" value="<%=data.id%>"/>
  <input name="question" type="text" placeholder="Question" value="<%=data.question%>"/>
  <input name="answer" type="text" placeholder="Answer" value="<%=data.answer%>"/>
  <input name="value" type="integer" placeholder="value" value="<%=data.value%>"/>
 
<!--   <input name="category" type="text" placeholder="category" value="<%=data.category%>"/> --> 
<!-- brad you need to get to this point -->

  

  <input type="submit" value="Add fix!" />
</form>

<% include ../partials/footer.ejs %>


<% include ../partials/boilerplate %>
